MATERIALS_FOLDER=""
ENVISIONHGDETECTOR_OUTPUT=""
DATASET_FOLDER=""
MASKBENCH_OUTPUT_FOLDER=""
HUGGINGFACE_API_KEY=""

NEXT_PUBLIC_PREVIEW="/preview"
NEXT_PUBLIC_ANALYSIS="/analysis"
NEXT_PUBLIC_ANALYTICS="/analytics"

FRONTEND_PORT=3070
BACKEND_PORT=1234
NEXT_PUBLIC_BACKEND_URL="http://localhost:$BACKEND_PORT" # replace localhost with server IP if needed
