# App
MATERIALS_FOLDER="" # where materials are stored/ will be stored after setup
ENVISIONHGDETECTOR_OUTPUT="" # where envisionhgdetector results are stored/ will be stored after setup

# Setup
DATASET_FOLDER="" # video dataset folder
MASKBENCH_OUTPUT_FOLDER="" # folder with maskbench renderings 
HUGGINGFACE_API_KEY="" # required for spectogram analysis

NEXT_PUBLIC_PREVIEW="/preview"
NEXT_PUBLIC_ANALYSIS="/analysis"
NEXT_PUBLIC_ANALYTICS="/analytics"

FRONTEND_PORT=3070
BACKEND_PORT=1234
NEXT_PUBLIC_BACKEND_URL="http://localhost:$BACKEND_PORT" # replace localhost with server IP if needed
