@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-plex-sans: "IBM Plex Sans", sans-serif; 
  --font-plex-mono: "IBM Plex Mono", monospace;
}

:root {
  --background: #f3f4f6;
  --foreground: #000000;

  --bg-primary: #f3f4f6;
  --bg-secondary: #ffffff;
  --bg-tertiary: #f9fafb;

  --chart-background: #f9fafb;
  --points-color: #9f16b4;

  --text-primary: #000000;
  --text-secondary: #6b7280;
  --border-primary: #000000;
  --border-secondary: #e5e7eb;

  --custom-preview : #fa4d56;
  --custom-preview-dark : #e03d45;
  --custom-analysis : #002d9c;
  --custom-analysis-dark : #001f6b;
  --custom-analytics : #198038;
  --custom-analytics-dark : #146629;

  --custom-gradient-red: linear-gradient(135deg, var(--custom-preview) 0%, var(--custom-preview-dark) 100%);
  --custom-gradient-blue: linear-gradient(135deg, var(--custom-analysis) 0%, var(--custom-analysis-dark) 100%);
  --custom-gradient-green: linear-gradient(135deg, var(--custom-analytics) 0%, var(--custom-analytics-dark) 100%);
  --accent-line-gradient: linear-gradient(90deg, var(--text-primary) 0%, transparent 100%);
  --custom-gradient-logo: linear-gradient(90deg, #1f2937 0%, #374151 100%,);
}

.dark {
  --background: #161616;
  --foreground: #f4f4f4;
  --bg-primary: #161616;
  --bg-secondary: #262626;
  --bg-tertiary: #393939;
  --chart-background: #393939;
  --text-primary: #f4f4f4;
  --text-secondary: #c6c6c6;
  --border-primary: #525252;
  --border-secondary: #393939;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plex-sans);
  --font-mono: var(--font-plex-mono);

  --color-custom-red : var(--custom-red);
  --color-custom-blue : var(--custom-blue);
  --color-custom-green : var(--custom-green);

  --background-image-gradient-red: var(--custom-gradient-red); /* use like bg-gradient-red */
  --background-image-gradient-blue: var(--custom-gradient-blue);
  --background-image-gradient-green: var(--custom-gradient-green);

  --background-image-gradient-preview: var(--custom-gradient-red); /* use like bg-gradient-red */
  --background-image-gradient-analysis: var(--custom-gradient-blue);
  --background-image-gradient-analytics: var(--custom-gradient-green);

  --background-image-gradient-accent-line: var(--accent-line-gradient);

  --background-color-primary : var(--bg-primary);
  --background-color-secondary : var(--bg-secondary);
  --background-color-tertiary : var(--bg-tertiary);

  --border-color-primary : var(--border-primary);
  --border-color-secondary : var(--border-secondary);
  --text-color-primary : var(--text-primary);
  --text-color-secondary : var(--text-secondary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #f4f4f4;
  }
} */


body {
  background-color: var(--bg-primary);
  font-family: var(--font-sans);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}

.info-card {
    background-color: var(--bg-tertiary);
    border: 2px solid var(--border-secondary);
}
        
.accent_line {
    background: var(--accent-line-gradient);
    height: 2px;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 12px;
}

.pillar-container {
  overflow: hidden; 
  margin: 1rem; 
  border-radius: 0.5rem; 
  border-width: 2px; 
  width: auto; 
  height: 87vh; 
}

.plot-container-plot-video {
  display: flex; 
  padding: 0.5rem; 
  flex-direction: row; 
  gap: 0.5rem; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  height: 100%; 
}

.plot-container-plot {
  object-fit: contain; 
  overflow: hidden; 
  border-radius: 0.5rem; 
  border-width: 1px; 
  height: 100%; 
  width: 70%;
}

.plot-container-video {
  display: flex; 
  flex-direction: column; 
  row-gap: 0.5rem; 
  justify-content: space-between; 
  align-items: center; 
  width: 30%;
}

.plot-option-pill { 
  padding: 0.5rem; 
  border-radius: 0.5rem; 
  border-width: 1px; 
  font-size: 1.125rem;
  line-height: 1.75rem; 
  text-align: center; 
  cursor: pointer; 
}
.plot-option-pill:hover {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.plot-option-pill-container {
  display: grid; 
  overflow-x: auto; 
  margin: 0.75rem; 
  grid-template-columns: repeat(3, minmax(0, 1fr)); 
  gap: 0.5rem; 
  justify-content: center; 
  align-items: center; 
}

.text-h3 {
  margin-top: 5rem; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  text-align: center;
  color: var(--text-primary);
}

